/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CYESYES RESET ABOUT */


h1 {
  font-size: 36px;
}

h2 {
  font-size: 19px;
}

.fb-blue-bg {
  background-color: #3b5998;
}

.light-grey {
  color: #D3D3D3;
}


.darker-grey {
  color: #8b9dc3;
}


body {
  background-color: #edf0f5;
  min-width: 1440px;
}


.flex-container {
  display: flex;
  flex-direction: space-between;
  border-style: border-box;
}


.light-text {
  font-weight: 500;
}

.important-text {
  font-weight: 520;
}

.tiny-font {
  color: #777;
  font-size: 11px;
}
