.header-tab-dropdown {
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 /* display: none; */
 border-radius: 3px;
 background-color: white;
 z-index: 5;
 right: 0px;
 top: 42px;
}


.dropdown-item {
  width: 440px;
  padding: 10px;
  z-index: 5;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
  /* top: 19px;
  right: -10px; */
}

.dropdrop-item:last-child {
  border-bottom: 0px solid white;
}

.header-tab {
  font-size: 14px;
  height: 42px;
  width: 42px;
  /* width: 75px; */
  text-align: center;
}

.header-home-tab {
  width: 50px;
  font-size: 14px;
  border-left: 1px solid #3b5998;
  border-right: 1px solid #3b5998;
  text-align: center;
  padding: 5px 0px;
}



.tab-hover:hover {
  background: #3b5998;
  border-radius: 2.5px;
}

.friend-requests-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #ccc;
  height: 23px;
  font-family: sans-serif;
  /* width: 380px; */
}



.friend-requests-label {
  color: #222;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
}

.friend-requests-links {
  color: #3366BB;
  font-size: 13px;
  padding: 5px;
}

.friend-requests-links span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.friend-requests-none {
  font-family: sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 400;
  background: #edf0f5;
  display: inline-block;
}

.requests-counter {
  position: absolute;
  background: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  height: 15px;
  font-size: 13px;
  width: 15px;
  top: 5px;
  left: 6px;
}

.friend-request-name-tag {
  color: #3b5998;
}
