.home-header {
  width: 100%;
  height: 42px;
  color: white;
  background-color: #4267b2;
  border-bottom: 1px solid black;
  /* position: absolute; */
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.type-letters-here {
  width: 95%;
  background: white;
  height: 21.5px;
  margin: 10px;
  color: black;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 200;
  border-style: border-box;
  border: 1px solid #3b5998;
  letter-spacing: 0.2px;
  border-radius: 3px;
  margin-left: -5px;
  z-index: 3;
  font-family: Arial;
}


.header-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: left; */
  height: 42px;
  position: relative;
  left: 100px
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  /* float: right; */
  position: relative;
  left: 760px;
  bottom: 42px;
}

#fb-logo {
  margin: 10px;
  height: 21px;
  width: 23px;
  min-width: 23px;
  min-height: 23px;
  background: white;
  padding: 2.5px;
  border-radius: 2.5px;
}

#fb-logo p {
  position: relative;
  left: 9px;
  top: -5px;
  font-size: 34px;
  font-weight: 900 !important;
  color: #4267b2;
  font-family: "Klavika";
}

.current-user-homepage {
  width: 250px;
  height: 50px;
  margin-left: 70px;
}


.header-current-user-link {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header-current-user-link div{
  padding: 1.5px;
  margin-right: 3px;
}
