.header-tab-dropdown {
 border: 1px solid black;
 position: absolute;
 top: 42px;
 right: 25%;
 /* display: none; */
 border-radius: 8px;
 background-color: white;
 z-index: 5;
}


.dropdown-item {
  color: black;
  height: 40px;
  width: 320px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* display: none; */
  z-index: 5;
}

.header-tab-dropdown:hover {
  display: block;
}
