.header-tab-dropdown {
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 /* display: none; */
 border-radius: 3px;
 background-color: white;
 z-index: 5;
 right: 0px;
 top: 42px;
}


.dropdown-item {
  width: 340px;
  padding: 20px;
  z-index: 5;
  display: inline-flex;
  justify-content: space-between;
  /* top: 19px;
  right: -10px; */
}

.header-tab {
  font-size: 14px;
  height: 20px;
  padding: 10px;
  /* width: 75px; */
  text-align: center;
}


.header-tab:hover {
  background: #3b5998;
  border-radius: 2.5px;
}
