[class*="icon-"] {
  vertical-align: center;
  overflow: hidden;
  height: 24px;
  width: 24px;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  top: 9px;
  margin-left: -12px;
}


[class*="nav-i-"] {
  vertical-align: center;
  overflow: hidden;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}

[class*="post-i-"] {
  vertical-align: center;
  overflow: hidden;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2px;
}

[class*="post-action-"] {
  vertical-align: center;
  overflow: hidden;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  margin-left: -30px;
}

[class*="splash-i-"] {
  overflow: hidden;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 25px;
}

[class*="search-icon"] {
  overflow: hidden;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 5px;
  right: 10px;
}

[class*="profile-i-"] {
  overflow: hidden;
  height: 18px;
  width: 18px;
  position: absolute;
}

.search-icon {
  background: asset-url('search.png');
}



.splash-i-news {
  background: asset-url('splash-newsfeed.png');
}

.splash-i-timeline {
  background: asset-url('splash-timeline.png');
}

.splash-i-share {
  background: asset-url('splash-share.png');
}

.post-action-delete {
  background: asset-url('waste-bin.png');
  left: 420px;
  top: 2px;
}

.post-action-like {
  background: asset-url('thumb-up.png');
}

.post-action-edit {
  background: asset-url('edit.png');
  left: 390px;
  top: 2px;
}

.post-action-share {
  background: asset-url('share.png');
}

.post-action-comment {
  background: asset-url('comment.png');
}

.post-i-delete {
  background: asset-url('smallwaste-bin.png');
  cursor: pointer;
  position: relative;
  left: 390px;
  top: 5px;
}


.post-i-delete-comment {
  background: asset-url('smallwaste-bin.png');
  cursor: pointer;
  position: relative;
  top: 3px;
}

.post-i-make {
  background: asset-url('make.png');
}

.post-i-video {
  background: asset-url('video-player.png');
}

.post-i-photo {
  background: asset-url('images.png');
}

.icon-friends {
  background: asset-url('add-friend.png');
}

.icon-messages {
  background: asset-url('messenger.png');
}

.icon-info {
  background: asset-url('information.png');
}

.icon-notifications {
  background: asset-url('world.png');
}

.icon-logout {
  background: asset-url('logout.png');
}

.nav-i-events {
  background: asset-url('calendar.png');
}

.nav-i-messages {
  background: asset-url('messenger.png');
}

.nav-i-watch {
  background: asset-url('tv.png');
}

.nav-i-marketplace {
  background: asset-url('big-shopping-store.png');
}

.nav-i-news {
  background: asset-url('folded-newspaper.png');
}

.profile-i-camera {
  background: asset-url('camera_white.png');
}

.profile-i-photo {
  background: asset-url('photo_black.png');
}