.user-thumb {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-right: -10px;
  object-fit: cover;
}

.user-square {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.post-user-thumb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin: 10px;
}

.user-profile-image {
  height: 160px;
  width: 160px;
  padding: 5px;
  object-fit: cover;
}

.friend-list-image {
  height: 101px;
  width: 101px;
  outline: 2px solid white;
  object-fit: cover;
}


.tiny-nav-image {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
}


.div-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: center;
}
