.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-error {
  position: absolute;
  top: 8px;
  right: 380px;
  width: 200px;
  height: 30px;
  background: #d00;
  z-index: 2;
  border-radius: 5px;
  text-align: center;
}

.modal-error p {
  margin: 6px;
}

.modal-error-triangle {
  position: absolute;
  top: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  left: -10px;
  z-index: 2;
  border-color: transparent transparent transparent #d00;
}

.form-modal-triangle {
  position: relative;
  top: -48px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 11px 8px 8px;
  left: 16px;
  z-index: 2;
  transform: rotate(90deg);
  border-color: transparent white transparent transparent;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
