.post-form {
  color: black;
  width: 500px;
  height: 150px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  display: block;
}

.post-form-profile {
  position: relative;
  top: 370px;
  right: -350px;
}


.post-form-input {
  display: flex;
  align-items: center;
  padding: 5px 10px 3px 0px;
  border-bottom: 1px solid #dddfe2;
}

/*
.post-form input {
  width: 440px;
  padding: 15px 0px;
  margin: 10px auto;
} */

.post-form-top-border {
  /* height: 34px; */
  background: #f6f7f9;
  color: #1d2129;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.post-form-header-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  border-bottom: 1px solid #dddfe2;
}

.post-form-header-tabs li {
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial;
  color: #555;
  border-right: 1px solid #dddfe2;
  text-align: right;
  display: inline-flex;
}

.post-form-header-tabs li:last-child {
  border-right: none;
}

.post-form-header-tabs li:hover {
  cursor: pointer;
}


.post-input {
  resize: none;
  padding: 10px 2px 0px 2px;
  width: 100%;
}

.post-likes-count {
  font-size: 14px;
  color: #3b5998;
  cursor: pointer;
  padding: 8px;
  font-family: sans-serif;
  margin-bottom: -8px;
  border-bottom: 1px solid #dddfe2;
}

.post-likes {
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  /* margin-top: 5px; */
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  color: #666;
}

.post-actions li {
  cursor: pointer;
  width: 33%;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 2.5px;
  position: relative;
}

.post-actions li:hover {
  background: #edf0f5;
}


.post-liked {
  color: #365899;
}


.post-edit {
  resize: none;
  width: 499px;
  border: 1px solid #365899;
  border-radius: 5px;
}

.file-input {
  display: none;
}

.post-photo-btn {
  padding: 5px 10px;
  border-radius: 10px;
  /* border: 1px solid #555; */
  background: #edf0f5;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #555;
  margin-left: 10px;
  cursor: pointer;
  letter-spacing: 0.2px;
  line-height: 18px;
  width: 95px;
  display: flex;
  justify-content: space-between;
}

.post-photo-btn:hover {
  background: #dce1e9;
}

.post-btns {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 40px;
}
