.post-index {
  /* width: 470px; */
  padding: 20px;
  position: relative;
  top: 385px;
  left: 330px;
}


.post-index-item {
  border: 1px solid #ddd;
  /* padding: 5px; */
  background: white;
  margin-bottom: 15px;
  /* width: 491px; */
  width: 501px;
  border-radius: 5px;
  font-family: sans-serif;
  position: relative;
}

.post-name-tag {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  color: #365899;
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 18px;
}

.post-name-tag a {
  margin-right: 2.5px;
}

.tiny-arrow {
  font-size: 10px;
}



.post-date {
  font-size: 13px;
  font-weight: 300;
  color: #616770;
}

.post-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  overflow-wrap: break-word;
  padding: 5px 10px;
  white-space: pre-wrap;
  margin-bottom: 5px;
}


.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}


.post-info div {
  padding: 2px;
}


.post-action {
  position: relative;
  right: -350px;
  top: 17px;
}

.post-options-show {
  display: block;
  position: absolute;
  border: 1px solid #555;
  border-radius: 5px;
  /* padding: 5px; */
  background-color: white;
  font-size: 12px;
  float: left;
  z-index: 2;
  width: 80px;
  font-family: sans-serif;
  box-shadow: 1px 1px 1px 1px #ccc;
  padding: 5px 0px;
}

.post-options-hide {
  display: none;
}

.post-options-item {
  cursor: pointer;
  text-align: left;
  padding: 5px;
  line-height: 20px;
}

.post-options-item:hover {
  background-color: #ddd;
}

.post-options {
  position: absolute;
  right: 10px;
  padding: 5px;
}

.post-options button {
  font-size: 22px;
  font-weight: 700;
}