.user-profile-header {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  height: 358px;
  width: 851px;
  margin: 0 auto;
  margin-top: 1px;
  background-color: white;
  /* padding: 50px; */
  border-radius: 3px;
  z-index: 0;
}

.user-profile-container {
  width: 851px;
  margin: 0 auto;
  position: relative;
  left: -42px;
  top: 42px;
  height: 900px;

  /* height: 100%; */
}


.user-cover-photo {
  background: #1d2129;
  width: 851px;
  height: 315px;
  margin: 0 auto;
  position: absolute;
  z-index: -2px;
}

.user-cover-photo img {
  width: 851px;
  height: 315px;
  position: relative;
}

.user-profile-image-container {
  background: white;
  z-index: 2;
  position: relative;
  top: 160px;
  left: 20px;
  width: 170px;
  height: 170px;
  border: 3px solid #C0C0C0;
  border-radius: 2px;
}

.user-profile-name {
  color: white;
  position: absolute;
  z-index: 2;
  padding: 10px 20px;
  bottom: 40px;
  left: 190px;
}

.user-profile-name h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 275px;
  position: relative;
  text-shadow: 0 0 3px rgba(0,0,0,1);
  text-rendering: optimizelegibility;
}

.user-profile-buttons {
  position: absolute;
  z-index: 2;
  padding: 10px;
  right: 20px;
  bottom: 40px;
  display: flex;
  width: 225px;
  align-items: center;
}

.user-profile-info {
  position: relative;
  /* min-height: 280px; */
  width: 306px;
  /* top: 370px; */
  padding: 10px;
  font-family: sans-serif;
}

.user-profile-info p {
  font-size: 13px;
  font-weight: 500;
  overflow-wrap: break-word;
  padding: 3px;
}
.friend-list-item {
  height: 101px;
  width: 101px;
  margin-top: -2px;
  margin-bottom: -48px;
}

.profile-container {
  background: white;
  border: 0.5px solid #ddd;
  border-radius: 6px;
}

.friend-list-container {
  position: relative;
  border: 0.5px solid #ddd;
  width: 310px;
  padding: 5px 10px;
  /* top: 520px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.friend-list-item-name {
  position: relative;
  color: white;
  bottom: -20%;
  right: -3px;
  font-family: Arial;
  font-weight: 600;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgb(49, 16, 16);
}

.friend-list-header {
  width: 100%;
  height: 20px;
  padding: 10px;
  display: block;
  font-family: sans-serif;
}

.friends-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800 !important;
  margin-left: 20px;
}

.user-profile-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  top: 139px;
}

.user-profile-tabs li {
  border-right: 1px solid #e9eaed;
  color: #365899;
  padding: 11px 14px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.user-profile-tabs li:first-child {
  border-left: 1px solid #e9eaed;
}

.user-profile-tabs li:hover {
  background: #e9ebee;
  cursor: pointer;
}


.friend-list-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.friend-list-flex a {
  height: 101px;
  width: 101px;
  margin: 1px;
}

.find-friends {
  font-size: 12px;
  text-align: center;
  float: right;
  cursor: pointer;
  color: #365899;
}

.user-edit-form {
  background-color: white;
  font-family: sans-serif;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  color: #555;
}

.user-edit-input {
  padding: 5px 10px;
  border-radius: 5px;
  width: 400px;
  font-weight: 500;
}

.user-edit-modal {
  background-color: white; 
  padding: 50px;
  border: 1px solid #aaa;
  width: 700px;
}

.user-edit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.user-edit-row h2 {
  font-weight: 700;
}

.user-edit-submit-btn {
  border: 1px solid #aaa;
  padding: 10px 40px;
}

.user-edit-submit-btn:hover {
  background-color: #DCDCDC;
}

.user-side-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  flex-direction: column;
  top: 370px;
}

.user-modal-close {
  font-weight: 700;
  font-size: 18px;
}

.detail-row {
  display: flex;
  align-items: center;
}

.detail-row h2 {
  margin-left: 25px;
}

.detail-row p {
  margin-left: 20px;
}
