.search-index {
  border-style: border-box;
  width: 450px;
  margin-top: -10px;
  margin-left: -5px;
  padding: 0px 10px;
  border-left: 0.2px solid #ddd;
  border-right: 0.2px solid #ddd;
  border-bottom: 0.2px solid #ddd;
  border-radius: 5px;
  background: white;
  position: absolute;
  /* top: -10px;
  left: -5px; */
  z-index: 4;
}



.user-search-item {
  position: relative;
  border-style: border-box;
  height: 50px;
  width: 450px;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  z-index: 4;
}


.user-search-item div {
  /* border: 1px solid black; */
  height: 65px;
  padding: 5px 10px;
  width: 100px;
  display: flex-wrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.search-container {
  width: 450px;
}
