.search-index {
  border-style: border-box;
  width: 60%;
  margin-top: -10px;
  margin-left: -5px;
  border-left: 0.2px solid #ddd;
  border-right: 0.2px solid #ddd;
  border-bottom: 0.2px solid #ddd;
  border-radius: 5px;
  background: white;
  position: absolute;
  z-index: 4;
}



.user-search-item {
  position: relative;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 4;
}

.user-search-item:hover {
  background: #afbdd4;
}

.user-search-name {
  font-size: 12px;
  font-family: Verdana;
  font-weight: 500 !important;
  margin-left: 18px;
}

.search-container {
  width: 60%;
}
