.search-index {
  border-style: border-box;
  width: 60%;
  margin-top: -10px;
  margin-left: -5px;
  border-left: 0.2px solid #ddd;
  border-right: 0.2px solid #ddd;
  border-bottom: 0.2px solid #ddd;
  border-radius: 5px;
  background: white;
  position: absolute;
  z-index: 4;
}



.user-search-item {
  position: relative;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 4;
}

.user-search-item:hover {
  background: #afbdd4;
  display: flex;
}

.user-search-name {
  font-size: 12px;
  font-family: Verdana;
  font-weight: 500 !important;
  margin-left: 18px;
}

.search-container {
  width: 60%;
  display: inline-flex;
  align-items: center;
}


.search-i-container {
  position: absolute;
  border: 1px solid #3b5998;
  padding: 1px 7px;
  height: 24px;
  width: 24px;
  right: 13%;
  z-index: 5;
  background: #edf0f5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
