/* CREDIT TO W3 SCHOOLS FOR THESE TOOLTIP LAYOUTS */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 300px; */
    min-width: 300px;
    /* max-width: 600px; */
    min-height: 20px;
    background-color: #CC3D3D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    right: 102%;
    /* left: 140%; */
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    /* top: 30%; */
    bottom: 15%;
    right: -0.5%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #CC3D3D #CC3D3D transparent transparent;
    transform: rotate(45deg);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
